/**
 * SILVERSTRIPE DEV-TOOLS
 * By James Barnsley (GitHub @jaedb)
 **/


/**
 * Page info panel shown on the front-end of the website
 * Positioned in a red info bar and can be disabled within the CMS
 **/

#debug-info {
	display: block !important;
	position: fixed;
	z-index: 999;
	bottom: 5px;
	right: 75px;
	color: #FFFFFF;
	background: #e31818;
	border-radius: 3px;
	padding: 10px 14px;
	max-width: 200px;
	font-size: 10px;
	line-height: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
 
#debug-info > .debug-item {
	display: block;
	text-decoration: none;
}
 
#debug-info > a.debug-item:hover {
	background: #d30f0f;
}





