.field.iconselect ul {
	border-radius: 4px;
	border: 1px solid #b3b3b3;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYV2N89+7dfwY0ICQkxIguxjgUFKI7GsTH5m4M3w1ChQDSWCb4tR+WrAAAAABJRU5ErkJggg==");
	max-width: 512px;
}
.field.iconselect .option {
	display: inline-block;
}
.field.iconselect .option input {
	display: none;
}
.field.iconselect .option label {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 5px;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
	margin: 5px;
	overflow: hidden;
}
.field.iconselect .option label:hover {
	background: rgba(0,0,0,0.1);
}
.field.iconselect .option label img {
	max-width: 100%;
	max-height: 100%;
}
.field.iconselect .option input:checked + label {
	background-color: #3875d7;
	background-image: -moz-linear-gradient(center top , #3875d7 20%, #2a62bc 90%);
}